<h1><%= @members.count %> Results </h1>

<% @members.each do |member| %>
  <ul class="member">
    <li class="name"><%= member.name %></li>
    <li class="affiliation"><%= member.affiliation%></li>
    <li class="allies"><%= member.allies %></li>
    <li class="enemies"><%= member.enemies %></li>
    <img src= <%= member.photo %>>
  </ul>
<%end%>